.load {
    flex-direction: column;
}

.loading {
    margin-bottom: 12px;
    animation: 3s load infinite linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}